// --Colors--
// Texts
$textColor: #fff;
$secondaryTextColor: #000;

// Buttons
$buttonColor: #429d21;
$buttonHoverColor: #5bd72e;

// Sections gradients
$morning: #c5d512;
$afternoon1: #c38b11;
$afternoon2: #bf5310;
$night1: #172ba8;
$night2: #030621;